// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2026.1.0.37.0
// Netlist written on Wed Sep 16 16:43:00 2026
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/eing/documents/github/e155-lab2/fpga/lab2_ei/source/impl_1/lab2_7_seg_decoder.sv"
// file 1 "c:/users/eing/documents/github/e155-lab2/fpga/lab2_ei/source/impl_1/lab2_counter.sv"
// file 2 "c:/users/eing/documents/github/e155-lab2/fpga/lab2_ei/source/impl_1/lab2_ei.sv"
// file 3 "c:/users/eing/documents/github/e155-lab2/fpga/lab2_ei/source/impl_1/lab2_scanning.sv"
// file 4 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ice40up.v"
// file 5 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ice40up.vhd"
// file 6 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc.v"
// file 7 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_distributed_ram.v"
// file 8 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_ecc.v"
// file 9 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_flag_and_cnts_logic.v"
// file 10 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_gray_reg.v"
// file 11 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_gray_synchronizer.v"
// file 12 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden.v"
// file 13 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_prim.v"
// file 14 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_rd_ctrl_logic.v"
// file 15 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_rd_output_logic.v"
// file 16 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_ring_counter.v"
// file 17 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_wr_ctrl_logic.v"
// file 18 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_prim_gen.v"
// file 19 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_rd_ctrl_logic.v"
// file 20 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_wr_ctrl_logic.v"
// file 21 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp.v"
// file 22 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_behavioral.v"
// file 23 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_functions.vh"
// file 24 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_impl.v"
// file 25 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_lut_decode.v"
// file 26 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/hsiao_ecc_decoder.v"
// file 27 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/hsiao_ecc_encoder.v"
// file 28 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/lscc_lfmxo4_ram_dq.v"
// file 29 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/lscc_lfmxo4_ram_dq_lut_decode.v"
// file 30 "c:/lscc/radiant/2026.1/ip/common/adder/rtl/lscc_adder.v"
// file 31 "c:/lscc/radiant/2026.1/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 32 "c:/lscc/radiant/2026.1/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 33 "c:/lscc/radiant/2026.1/ip/common/counter/rtl/lscc_cntr.v"
// file 34 "c:/lscc/radiant/2026.1/ip/common/fifo/rtl/lscc_fifo.v"
// file 35 "c:/lscc/radiant/2026.1/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 36 "c:/lscc/radiant/2026.1/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 37 "c:/lscc/radiant/2026.1/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 38 "c:/lscc/radiant/2026.1/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 39 "c:/lscc/radiant/2026.1/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 40 "c:/lscc/radiant/2026.1/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 41 "c:/lscc/radiant/2026.1/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 42 "c:/lscc/radiant/2026.1/ip/common/rom/rtl/lscc_rom.v"
// file 43 "c:/lscc/radiant/2026.1/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 44 "c:/lscc/radiant/2026.1/ip/pmi/pmi_add.v"
// file 45 "c:/lscc/radiant/2026.1/ip/pmi/pmi_addsub.v"
// file 46 "c:/lscc/radiant/2026.1/ip/pmi/pmi_complex_mult.v"
// file 47 "c:/lscc/radiant/2026.1/ip/pmi/pmi_counter.v"
// file 48 "c:/lscc/radiant/2026.1/ip/pmi/pmi_dsp.v"
// file 49 "c:/lscc/radiant/2026.1/ip/pmi/pmi_fifo.v"
// file 50 "c:/lscc/radiant/2026.1/ip/pmi/pmi_fifo_dc.v"
// file 51 "c:/lscc/radiant/2026.1/ip/pmi/pmi_mac.v"
// file 52 "c:/lscc/radiant/2026.1/ip/pmi/pmi_mult.v"
// file 53 "c:/lscc/radiant/2026.1/ip/pmi/pmi_multaddsub.v"
// file 54 "c:/lscc/radiant/2026.1/ip/pmi/pmi_multaddsubsum.v"
// file 55 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dp.v"
// file 56 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dp_be.v"
// file 57 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dq.v"
// file 58 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dq_be.v"
// file 59 "c:/lscc/radiant/2026.1/ip/pmi/pmi_rom.v"
// file 60 "c:/lscc/radiant/2026.1/ip/pmi/pmi_sub.v"
// file 61 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 62 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 63 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 64 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 65 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 66 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 67 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 68 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ib.v"
// file 69 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 70 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 71 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 72 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ob.v"
// file 73 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 74 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 75 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 76 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/rgb.v"
// file 77 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 78 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 79 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/legacy.v"

//
// Verilog Description of module lab2_ei
//

module lab2_ei (input nreset, input [3:0]sw1, input [3:0]sw2, input [3:0]col, 
            input enable, output [6:0]seg, output [3:0]led, output [1:0]power, 
            output [3:0]row);
    
    wire nreset_c;
    wire [3:0]sw1_c;
    wire [3:0]sw2_c;
    wire [3:0]col_c;
    wire enable_c;
    wire [6:0]seg_c;
    wire col_c_3__N_78;
    wire col_c_2__N_79;
    wire col_c_1__N_80;
    wire col_c_0__N_81;
    wire power_c_N_82;
    wire [3:0]row_c;
    wire power_c;
    (* is_clock=1 *) wire clk;
    wire [3:0]s;
    
    wire GND_net, VCC_net, n3, n225;
    
    VHI i2 (.Z(VCC_net));
    VLO i1 (.Z(GND_net));
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 sw1_c_1__I_0_3_lut (.A(sw1_c[1]), 
            .B(sw2_c[1]), .C(power_c), .Z(s[1]));
    defparam sw1_c_1__I_0_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 sw1_c_3__I_0_3_lut (.A(sw1_c[3]), 
            .B(sw2_c[3]), .C(power_c), .Z(s[3]));
    defparam sw1_c_3__I_0_3_lut.INIT = "0xcaca";
    IB nreset_pad (.I(nreset), .O(nreset_c));
    IB \sw1_pad[3]  (.I(sw1[3]), .O(sw1_c[3]));
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 sw1_c_2__I_0_3_lut (.A(sw1_c[2]), 
            .B(sw2_c[2]), .C(power_c), .Z(s[2]));
    defparam sw1_c_2__I_0_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 sw1_c_0__I_0_3_lut (.A(sw1_c[0]), 
            .B(sw2_c[0]), .C(power_c), .Z(s[0]));
    defparam sw1_c_0__I_0_3_lut.INIT = "0xcaca";
    IB \sw1_pad[2]  (.I(sw1[2]), .O(sw1_c[2]));
    IB \sw1_pad[1]  (.I(sw1[1]), .O(sw1_c[1]));
    IB \sw1_pad[0]  (.I(sw1[0]), .O(sw1_c[0]));
    IB \sw2_pad[3]  (.I(sw2[3]), .O(sw2_c[3]));
    IB \sw2_pad[2]  (.I(sw2[2]), .O(sw2_c[2]));
    IB \sw2_pad[1]  (.I(sw2[1]), .O(sw2_c[1]));
    IB \sw2_pad[0]  (.I(sw2[0]), .O(sw2_c[0]));
    IB \col_pad[3]  (.I(col[3]), .O(col_c[3]));
    IB \col_pad[2]  (.I(col[2]), .O(col_c[2]));
    IB \col_pad[1]  (.I(col[1]), .O(col_c[1]));
    IB \col_pad[0]  (.I(col[0]), .O(col_c[0]));
    IB enable_pad (.I(enable), .O(enable_c));
    OB \seg_pad[6]  (.I(seg_c[6]), .O(seg[6]));
    OB \seg_pad[5]  (.I(seg_c[5]), .O(seg[5]));
    OB \seg_pad[4]  (.I(seg_c[4]), .O(seg[4]));
    OB \seg_pad[3]  (.I(seg_c[3]), .O(seg[3]));
    OB \seg_pad[2]  (.I(seg_c[2]), .O(seg[2]));
    OB \seg_pad[1]  (.I(seg_c[1]), .O(seg[1]));
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=49, LSE_RCOL=158, LSE_LLINE=31, LSE_RLINE=31 *) \lab2_counter(MAXCOUNT=200000)  lab2_counter_inst (n3, 
            n225, clk, power_c, nreset_c, enable_c);
    OB \seg_pad[0]  (.I(seg_c[0]), .O(seg[0]));
    OB \led_pad[3]  (.I(col_c_3__N_78), .O(led[3]));
    OB \led_pad[2]  (.I(col_c_2__N_79), .O(led[2]));
    OB \led_pad[1]  (.I(col_c_1__N_80), .O(led[1]));
    OB \led_pad[0]  (.I(col_c_0__N_81), .O(led[0]));
    OB \power_pad[1]  (.I(power_c_N_82), .O(power[1]));
    OB \power_pad[0]  (.I(power_c), .O(power[0]));
    OB \row_pad[3]  (.I(row_c[3]), .O(row[3]));
    OB \row_pad[2]  (.I(row_c[2]), .O(row[2]));
    OB \row_pad[1]  (.I(row_c[1]), .O(row[1]));
    OB \row_pad[0]  (.I(row_c[0]), .O(row[0]));
    (* lut_function="(!(A))" *) LUT4 col_c_3__I_0_1_lut (.A(col_c[3]), .Z(col_c_3__N_78));
    defparam col_c_3__I_0_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))" *) LUT4 col_c_2__I_0_1_lut (.A(col_c[2]), .Z(col_c_2__N_79));
    defparam col_c_2__I_0_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))" *) LUT4 col_c_1__I_0_1_lut (.A(col_c[1]), .Z(col_c_1__N_80));
    defparam col_c_1__I_0_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))" *) LUT4 col_c_0__I_0_1_lut (.A(col_c[0]), .Z(col_c_0__N_81));
    defparam col_c_0__I_0_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))" *) LUT4 power_c_I_0_1_lut (.A(power_c), .Z(power_c_N_82));
    defparam power_c_I_0_1_lut.INIT = "0x5555";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=21, LSE_RCOL=52, LSE_LLINE=49, LSE_RLINE=49 *) lab2_7_seg_decoder lab2_7_seg_decoder_inst ({s}, 
            {seg_c});
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=16, LSE_RCOL=117, LSE_LLINE=34, LSE_RLINE=34 *) lab2_scanning lab2_scanning_inst ({row_c}, 
            nreset_c, n225, clk, n3);
    (* syn_instantiated=1 *) HSOSC_CORE hf_osc (.CLKHFPU(VCC_net), .CLKHFEN(VCC_net), 
            .TRIM9(GND_net), .TRIM8(GND_net), .TRIM7(GND_net), .TRIM6(GND_net), 
            .TRIM5(GND_net), .TRIM4(GND_net), .TRIM3(GND_net), .TRIM2(GND_net), 
            .TRIM1(GND_net), .TRIM0(GND_net), .CLKHF(clk));
    defparam hf_osc.CLKHF_DIV = "0b00";
    defparam hf_osc.FABRIC_TRIME = "DISABLE";
    
endmodule

//
// Verilog Description of module \lab2_counter(MAXCOUNT=200000) 
//

module \lab2_counter(MAXCOUNT=200000)  (input n3, output n225, input clk, 
            output power_c, input nreset_c, input enable_c);
    
    wire [31:0]count_state;
    (* is_clock=1 *) wire clk;
    
    wire GND_net, VCC_net;
    wire [31:0]n167;
    
    wire n4, n73, n2125;
    wire [31:0]n40;
    
    wire n2083, n2128, n23, n2092, n1028, n2119, n1026, n1030, 
        n1034, n2116, n1014, n2104, n1012, n1004, n2080, n1006, 
        n2077, n1024, n2110, n1010, n2089, n8, n1018, n2101, 
        n1020, n10, n4_adj_90, n20, n1016, n2098, n7, n22, n24, 
        n1032, n1008, n1274, n25, n2086, n2122, n1022, n2107, 
        n2095;
    
    (* lut_function="(!((B)+!A))" *) LUT4 i612_2_lut (.A(n167[6]), .B(n4), 
            .Z(n40[6]));
    defparam i612_2_lut.INIT = "0x2222";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=49, LSE_RCOL=158, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ count_state__i21 (.D(n40[21]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(count_state[21]));
    defparam count_state__i21.REGSET = "RESET";
    defparam count_state__i21.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=49, LSE_RCOL=158, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ count_state__i0 (.D(n40[0]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(count_state[0]));
    defparam count_state__i0.REGSET = "RESET";
    defparam count_state__i0.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=49, LSE_RCOL=158, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ count_state__i20 (.D(n40[20]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(count_state[20]));
    defparam count_state__i20.REGSET = "RESET";
    defparam count_state__i20.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=49, LSE_RCOL=158, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ count_state__i19 (.D(n40[19]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(count_state[19]));
    defparam count_state__i19.REGSET = "RESET";
    defparam count_state__i19.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=49, LSE_RCOL=158, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ count_state__i18 (.D(n40[18]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(count_state[18]));
    defparam count_state__i18.REGSET = "RESET";
    defparam count_state__i18.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=49, LSE_RCOL=158, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ count_state__i17 (.D(n40[17]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(count_state[17]));
    defparam count_state__i17.REGSET = "RESET";
    defparam count_state__i17.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=49, LSE_RCOL=158, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ count_state__i3 (.D(n40[3]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(count_state[3]));
    defparam count_state__i3.REGSET = "RESET";
    defparam count_state__i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=49, LSE_RCOL=158, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ count_state__i2 (.D(n40[2]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(count_state[2]));
    defparam count_state__i2.REGSET = "RESET";
    defparam count_state__i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=49, LSE_RCOL=158, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ count_state__i1 (.D(n40[1]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(count_state[1]));
    defparam count_state__i1.REGSET = "RESET";
    defparam count_state__i1.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=49, LSE_RCOL=158, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ clk_state (.D(n73), 
            .SP(n225), .CK(clk), .SR(n3), .Q(power_c));
    defparam clk_state.REGSET = "RESET";
    defparam clk_state.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=49, LSE_RCOL=158, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ count_state__i16 (.D(n40[16]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(count_state[16]));
    defparam count_state__i16.REGSET = "RESET";
    defparam count_state__i16.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=49, LSE_RCOL=158, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ count_state__i15 (.D(n40[15]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(count_state[15]));
    defparam count_state__i15.REGSET = "RESET";
    defparam count_state__i15.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=49, LSE_RCOL=158, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ count_state__i14 (.D(n40[14]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(count_state[14]));
    defparam count_state__i14.REGSET = "RESET";
    defparam count_state__i14.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=49, LSE_RCOL=158, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ count_state__i13 (.D(n40[13]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(count_state[13]));
    defparam count_state__i13.REGSET = "RESET";
    defparam count_state__i13.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=49, LSE_RCOL=158, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ count_state__i12 (.D(n40[12]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(count_state[12]));
    defparam count_state__i12.REGSET = "RESET";
    defparam count_state__i12.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!((B)+!A))" *) LUT4 i585_2_lut (.A(n167[15]), .B(n4), 
            .Z(n40[15]));
    defparam i585_2_lut.INIT = "0x2222";
    FA2 add_7_add_5_27 (.A0(GND_net), .B0(count_state[25]), .C0(GND_net), 
        .D0(n1028), .CI0(n1028), .A1(GND_net), .B1(count_state[26]), 
        .C1(GND_net), .D1(n2119), .CI1(n2119), .CO0(n2119), .CO1(n1030), 
        .S0(n167[25]), .S1(n167[26]));
    defparam add_7_add_5_27.INIT0 = "0xc33c";
    defparam add_7_add_5_27.INIT1 = "0xc33c";
    (* lut_function="(!((B)+!A))" *) LUT4 i555_2_lut (.A(n167[31]), .B(n4), 
            .Z(n40[31]));
    defparam i555_2_lut.INIT = "0x2222";
    FA2 add_7_add_5_25 (.A0(GND_net), .B0(count_state[23]), .C0(GND_net), 
        .D0(n1026), .CI0(n1026), .A1(GND_net), .B1(count_state[24]), 
        .C1(GND_net), .D1(n2116), .CI1(n2116), .CO0(n2116), .CO1(n1028), 
        .S0(n167[23]), .S1(n167[24]));
    defparam add_7_add_5_25.INIT0 = "0xc33c";
    defparam add_7_add_5_25.INIT1 = "0xc33c";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=49, LSE_RCOL=158, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ count_state__i11 (.D(n40[11]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(count_state[11]));
    defparam count_state__i11.REGSET = "RESET";
    defparam count_state__i11.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=49, LSE_RCOL=158, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ count_state__i10 (.D(n40[10]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(count_state[10]));
    defparam count_state__i10.REGSET = "RESET";
    defparam count_state__i10.SRMODE = "CE_OVER_LSR";
    FA2 add_7_add_5_11 (.A0(GND_net), .B0(count_state[9]), .C0(GND_net), 
        .D0(n1012), .CI0(n1012), .A1(GND_net), .B1(count_state[10]), 
        .C1(GND_net), .D1(n2092), .CI1(n2092), .CO0(n2092), .CO1(n1014), 
        .S0(n167[9]), .S1(n167[10]));
    defparam add_7_add_5_11.INIT0 = "0xc33c";
    defparam add_7_add_5_11.INIT1 = "0xc33c";
    FA2 add_7_add_5_3 (.A0(GND_net), .B0(count_state[1]), .C0(GND_net), 
        .D0(n1004), .CI0(n1004), .A1(GND_net), .B1(count_state[2]), 
        .C1(GND_net), .D1(n2080), .CI1(n2080), .CO0(n2080), .CO1(n1006), 
        .S0(n167[1]), .S1(n167[2]));
    defparam add_7_add_5_3.INIT0 = "0xc33c";
    defparam add_7_add_5_3.INIT1 = "0xc33c";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=49, LSE_RCOL=158, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ count_state__i9 (.D(n40[9]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(count_state[9]));
    defparam count_state__i9.REGSET = "RESET";
    defparam count_state__i9.SRMODE = "CE_OVER_LSR";
    FA2 add_7_add_5_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), .A1(GND_net), 
        .B1(count_state[0]), .C1(VCC_net), .D1(n2077), .CI1(n2077), 
        .CO0(n2077), .CO1(n1004), .S1(n167[0]));
    defparam add_7_add_5_1.INIT0 = "0xc33c";
    defparam add_7_add_5_1.INIT1 = "0xc33c";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=49, LSE_RCOL=158, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ count_state__i8 (.D(n40[8]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(count_state[8]));
    defparam count_state__i8.REGSET = "RESET";
    defparam count_state__i8.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!((B)+!A))" *) LUT4 i557_2_lut (.A(n167[30]), .B(n4), 
            .Z(n40[30]));
    defparam i557_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i580_2_lut (.A(n167[20]), .B(n4), 
            .Z(n40[20]));
    defparam i580_2_lut.INIT = "0x2222";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=49, LSE_RCOL=158, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ count_state__i7 (.D(n40[7]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(count_state[7]));
    defparam count_state__i7.REGSET = "RESET";
    defparam count_state__i7.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=49, LSE_RCOL=158, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ count_state__i6 (.D(n40[6]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(count_state[6]));
    defparam count_state__i6.REGSET = "RESET";
    defparam count_state__i6.SRMODE = "CE_OVER_LSR";
    FA2 add_7_add_5_23 (.A0(GND_net), .B0(count_state[21]), .C0(GND_net), 
        .D0(n1024), .CI0(n1024), .A1(GND_net), .B1(count_state[22]), 
        .C1(GND_net), .D1(n2110), .CI1(n2110), .CO0(n2110), .CO1(n1026), 
        .S0(n167[21]), .S1(n167[22]));
    defparam add_7_add_5_23.INIT0 = "0xc33c";
    defparam add_7_add_5_23.INIT1 = "0xc33c";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=49, LSE_RCOL=158, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ count_state__i31 (.D(n40[31]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(count_state[31]));
    defparam count_state__i31.REGSET = "RESET";
    defparam count_state__i31.SRMODE = "CE_OVER_LSR";
    FA2 add_7_add_5_9 (.A0(GND_net), .B0(count_state[7]), .C0(GND_net), 
        .D0(n1010), .CI0(n1010), .A1(GND_net), .B1(count_state[8]), 
        .C1(GND_net), .D1(n2089), .CI1(n2089), .CO0(n2089), .CO1(n1012), 
        .S0(n167[7]), .S1(n167[8]));
    defparam add_7_add_5_9.INIT0 = "0xc33c";
    defparam add_7_add_5_9.INIT1 = "0xc33c";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=49, LSE_RCOL=158, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ count_state__i30 (.D(n40[30]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(count_state[30]));
    defparam count_state__i30.REGSET = "RESET";
    defparam count_state__i30.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=49, LSE_RCOL=158, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ count_state__i29 (.D(n40[29]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(count_state[29]));
    defparam count_state__i29.REGSET = "RESET";
    defparam count_state__i29.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!((B)+!A))" *) LUT4 i558_2_lut (.A(n167[29]), .B(n4), 
            .Z(n40[29]));
    defparam i558_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i551_2_lut (.A(n167[0]), .B(n4), 
            .Z(n40[0]));
    defparam i551_2_lut.INIT = "0x2222";
    FA2 add_7_add_5_17 (.A0(GND_net), .B0(count_state[15]), .C0(GND_net), 
        .D0(n1018), .CI0(n1018), .A1(GND_net), .B1(count_state[16]), 
        .C1(GND_net), .D1(n2101), .CI1(n2101), .CO0(n2101), .CO1(n1020), 
        .S0(n167[15]), .S1(n167[16]));
    defparam add_7_add_5_17.INIT0 = "0xc33c";
    defparam add_7_add_5_17.INIT1 = "0xc33c";
    (* lut_function="(A (B (C (D))))" *) LUT4 i4_4_lut (.A(count_state[2]), 
            .B(count_state[1]), .C(count_state[0]), .D(count_state[4]), 
            .Z(n10));
    defparam i4_4_lut.INIT = "0x8000";
    (* lut_function="(A+(B (C (D))))" *) LUT4 i1_4_lut (.A(count_state[6]), 
            .B(count_state[5]), .C(n10), .D(count_state[3]), .Z(n4_adj_90));
    defparam i1_4_lut.INIT = "0xeaaa";
    (* lut_function="(A (B+(C))+!A (B+(C (D))))" *) LUT4 i43_4_lut (.A(count_state[7]), 
            .B(count_state[9]), .C(count_state[8]), .D(n4_adj_90), .Z(n20));
    defparam i43_4_lut.INIT = "0xfcec";
    (* lut_function="(A+(B+(C)))" *) LUT4 i3_3_lut (.A(count_state[15]), .B(count_state[14]), 
            .C(count_state[12]), .Z(n8));
    defparam i3_3_lut.INIT = "0xfefe";
    FA2 add_7_add_5_33 (.A0(GND_net), .B0(count_state[31]), .C0(GND_net), 
        .D0(n1034), .CI0(n1034), .A1(GND_net), .B1(GND_net), .C1(GND_net), 
        .D1(n2128), .CI1(n2128), .CO0(n2128), .S0(n167[31]));
    defparam add_7_add_5_33.INIT0 = "0xc33c";
    defparam add_7_add_5_33.INIT1 = "0xc33c";
    FA2 add_7_add_5_15 (.A0(GND_net), .B0(count_state[13]), .C0(GND_net), 
        .D0(n1016), .CI0(n1016), .A1(GND_net), .B1(count_state[14]), 
        .C1(GND_net), .D1(n2098), .CI1(n2098), .CO0(n2098), .CO1(n1018), 
        .S0(n167[13]), .S1(n167[14]));
    defparam add_7_add_5_15.INIT0 = "0xc33c";
    defparam add_7_add_5_15.INIT1 = "0xc33c";
    (* lut_function="(A+(B (C (D))))" *) LUT4 i2_4_lut (.A(count_state[13]), 
            .B(count_state[11]), .C(count_state[10]), .D(n20), .Z(n7));
    defparam i2_4_lut.INIT = "0xeaaa";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i8_4_lut (.A(count_state[18]), 
            .B(count_state[30]), .C(count_state[26]), .D(count_state[22]), 
            .Z(n22));
    defparam i8_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i10_4_lut (.A(count_state[31]), 
            .B(count_state[21]), .C(count_state[20]), .D(count_state[23]), 
            .Z(n24));
    defparam i10_4_lut.INIT = "0xfffe";
    (* lut_function="(!((B)+!A))" *) LUT4 i613_2_lut (.A(n167[5]), .B(n4), 
            .Z(n40[5]));
    defparam i613_2_lut.INIT = "0x2222";
    FA2 add_7_add_5_5 (.A0(GND_net), .B0(count_state[3]), .C0(GND_net), 
        .D0(n1006), .CI0(n1006), .A1(GND_net), .B1(count_state[4]), 
        .C1(GND_net), .D1(n2083), .CI1(n2083), .CO0(n2083), .CO1(n1008), 
        .S0(n167[3]), .S1(n167[4]));
    defparam add_7_add_5_5.INIT0 = "0xc33c";
    defparam add_7_add_5_5.INIT1 = "0xc33c";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i9_4_lut (.A(count_state[24]), 
            .B(count_state[28]), .C(count_state[25]), .D(count_state[29]), 
            .Z(n23));
    defparam i9_4_lut.INIT = "0xfffe";
    FA2 add_7_add_5_31 (.A0(GND_net), .B0(count_state[29]), .C0(GND_net), 
        .D0(n1032), .CI0(n1032), .A1(GND_net), .B1(count_state[30]), 
        .C1(GND_net), .D1(n2125), .CI1(n2125), .CO0(n2125), .CO1(n1034), 
        .S0(n167[29]), .S1(n167[30]));
    defparam add_7_add_5_31.INIT0 = "0xc33c";
    defparam add_7_add_5_31.INIT1 = "0xc33c";
    (* lut_function="(A (B (C+(D))))" *) LUT4 i2_4_lut_adj_13 (.A(count_state[17]), 
            .B(count_state[16]), .C(n7), .D(n8), .Z(n1274));
    defparam i2_4_lut_adj_13.INIT = "0x8880";
    (* lut_function="(A+(B+(C)))" *) LUT4 i11_3_lut (.A(count_state[27]), 
            .B(n22), .C(count_state[19]), .Z(n25));
    defparam i11_3_lut.INIT = "0xfefe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i1_4_lut_adj_14 (.A(n25), .B(n1274), 
            .C(n23), .D(n24), .Z(n4));
    defparam i1_4_lut_adj_14.INIT = "0xfffe";
    (* lut_function="(!((B)+!A))" *) LUT4 i577_2_lut (.A(n167[21]), .B(n4), 
            .Z(n40[21]));
    defparam i577_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i559_2_lut (.A(n167[28]), .B(n4), 
            .Z(n40[28]));
    defparam i559_2_lut.INIT = "0x2222";
    (* lut_function="((B)+!A)" *) LUT4 i381_2_lut (.A(nreset_c), .B(enable_c), 
            .Z(n225));
    defparam i381_2_lut.INIT = "0xdddd";
    (* lut_function="(!((B)+!A))" *) LUT4 i615_2_lut (.A(n167[4]), .B(n4), 
            .Z(n40[4]));
    defparam i615_2_lut.INIT = "0x2222";
    FA2 add_7_add_5_7 (.A0(GND_net), .B0(count_state[5]), .C0(GND_net), 
        .D0(n1008), .CI0(n1008), .A1(GND_net), .B1(count_state[6]), 
        .C1(GND_net), .D1(n2086), .CI1(n2086), .CO0(n2086), .CO1(n1010), 
        .S0(n167[5]), .S1(n167[6]));
    defparam add_7_add_5_7.INIT0 = "0xc33c";
    defparam add_7_add_5_7.INIT1 = "0xc33c";
    (* lut_function="(!((B)+!A))" *) LUT4 i560_2_lut (.A(n167[27]), .B(n4), 
            .Z(n40[27]));
    defparam i560_2_lut.INIT = "0x2222";
    FA2 add_7_add_5_29 (.A0(GND_net), .B0(count_state[27]), .C0(GND_net), 
        .D0(n1030), .CI0(n1030), .A1(GND_net), .B1(count_state[28]), 
        .C1(GND_net), .D1(n2122), .CI1(n2122), .CO0(n2122), .CO1(n1032), 
        .S0(n167[27]), .S1(n167[28]));
    defparam add_7_add_5_29.INIT0 = "0xc33c";
    defparam add_7_add_5_29.INIT1 = "0xc33c";
    FA2 add_7_add_5_21 (.A0(GND_net), .B0(count_state[19]), .C0(GND_net), 
        .D0(n1022), .CI0(n1022), .A1(GND_net), .B1(count_state[20]), 
        .C1(GND_net), .D1(n2107), .CI1(n2107), .CO0(n2107), .CO1(n1024), 
        .S0(n167[19]), .S1(n167[20]));
    defparam add_7_add_5_21.INIT0 = "0xc33c";
    defparam add_7_add_5_21.INIT1 = "0xc33c";
    (* lut_function="(!((B)+!A))" *) LUT4 i609_2_lut (.A(n167[7]), .B(n4), 
            .Z(n40[7]));
    defparam i609_2_lut.INIT = "0x2222";
    FA2 add_7_add_5_19 (.A0(GND_net), .B0(count_state[17]), .C0(GND_net), 
        .D0(n1020), .CI0(n1020), .A1(GND_net), .B1(count_state[18]), 
        .C1(GND_net), .D1(n2104), .CI1(n2104), .CO0(n2104), .CO1(n1022), 
        .S0(n167[17]), .S1(n167[18]));
    defparam add_7_add_5_19.INIT0 = "0xc33c";
    defparam add_7_add_5_19.INIT1 = "0xc33c";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=49, LSE_RCOL=158, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ count_state__i5 (.D(n40[5]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(count_state[5]));
    defparam count_state__i5.REGSET = "RESET";
    defparam count_state__i5.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=49, LSE_RCOL=158, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ count_state__i28 (.D(n40[28]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(count_state[28]));
    defparam count_state__i28.REGSET = "RESET";
    defparam count_state__i28.SRMODE = "CE_OVER_LSR";
    FA2 add_7_add_5_13 (.A0(GND_net), .B0(count_state[11]), .C0(GND_net), 
        .D0(n1014), .CI0(n1014), .A1(GND_net), .B1(count_state[12]), 
        .C1(GND_net), .D1(n2095), .CI1(n2095), .CO0(n2095), .CO1(n1016), 
        .S0(n167[11]), .S1(n167[12]));
    defparam add_7_add_5_13.INIT0 = "0xc33c";
    defparam add_7_add_5_13.INIT1 = "0xc33c";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=49, LSE_RCOL=158, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ count_state__i27 (.D(n40[27]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(count_state[27]));
    defparam count_state__i27.REGSET = "RESET";
    defparam count_state__i27.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!((B)+!A))" *) LUT4 i611_2_lut (.A(n167[2]), .B(n4), 
            .Z(n40[2]));
    defparam i611_2_lut.INIT = "0x2222";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=49, LSE_RCOL=158, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ count_state__i26 (.D(n40[26]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(count_state[26]));
    defparam count_state__i26.REGSET = "RESET";
    defparam count_state__i26.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=49, LSE_RCOL=158, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ count_state__i25 (.D(n40[25]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(count_state[25]));
    defparam count_state__i25.REGSET = "RESET";
    defparam count_state__i25.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=49, LSE_RCOL=158, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ count_state__i24 (.D(n40[24]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(count_state[24]));
    defparam count_state__i24.REGSET = "RESET";
    defparam count_state__i24.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!((B)+!A))" *) LUT4 i606_2_lut (.A(n167[8]), .B(n4), 
            .Z(n40[8]));
    defparam i606_2_lut.INIT = "0x2222";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=49, LSE_RCOL=158, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ count_state__i23 (.D(n40[23]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(count_state[23]));
    defparam count_state__i23.REGSET = "RESET";
    defparam count_state__i23.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=49, LSE_RCOL=158, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ count_state__i22 (.D(n40[22]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(count_state[22]));
    defparam count_state__i22.REGSET = "RESET";
    defparam count_state__i22.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!((B)+!A))" *) LUT4 i603_2_lut (.A(n167[9]), .B(n4), 
            .Z(n40[9]));
    defparam i603_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i597_2_lut (.A(n167[10]), .B(n4), 
            .Z(n40[10]));
    defparam i597_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i582_2_lut (.A(n167[18]), .B(n4), 
            .Z(n40[18]));
    defparam i582_2_lut.INIT = "0x2222";
    VLO i1 (.Z(GND_net));
    (* lut_function="(!((B)+!A))" *) LUT4 i588_2_lut (.A(n167[12]), .B(n4), 
            .Z(n40[12]));
    defparam i588_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i561_2_lut (.A(n167[26]), .B(n4), 
            .Z(n40[26]));
    defparam i561_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i571_2_lut (.A(n167[25]), .B(n4), 
            .Z(n40[25]));
    defparam i571_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i574_2_lut (.A(n167[24]), .B(n4), 
            .Z(n40[24]));
    defparam i574_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i581_2_lut (.A(n167[19]), .B(n4), 
            .Z(n40[19]));
    defparam i581_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i587_2_lut (.A(n167[13]), .B(n4), 
            .Z(n40[13]));
    defparam i587_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i586_2_lut (.A(n167[14]), .B(n4), 
            .Z(n40[14]));
    defparam i586_2_lut.INIT = "0x2222";
    (* lut_function="(!(A (B)+!A !(B)))" *) LUT4 i21_2_lut (.A(power_c), .B(n4), 
            .Z(n73));
    defparam i21_2_lut.INIT = "0x6666";
    (* lut_function="(!((B)+!A))" *) LUT4 i584_2_lut (.A(n167[16]), .B(n4), 
            .Z(n40[16]));
    defparam i584_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i593_2_lut (.A(n167[11]), .B(n4), 
            .Z(n40[11]));
    defparam i593_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i583_2_lut (.A(n167[17]), .B(n4), 
            .Z(n40[17]));
    defparam i583_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i568_2_lut (.A(n167[1]), .B(n4), 
            .Z(n40[1]));
    defparam i568_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i614_2_lut (.A(n167[3]), .B(n4), 
            .Z(n40[3]));
    defparam i614_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i575_2_lut (.A(n167[23]), .B(n4), 
            .Z(n40[23]));
    defparam i575_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i576_2_lut (.A(n167[22]), .B(n4), 
            .Z(n40[22]));
    defparam i576_2_lut.INIT = "0x2222";
    VHI i2 (.Z(VCC_net));
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=49, LSE_RCOL=158, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ count_state__i4 (.D(n40[4]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(count_state[4]));
    defparam count_state__i4.REGSET = "RESET";
    defparam count_state__i4.SRMODE = "CE_OVER_LSR";
    
endmodule

//
// Verilog Description of module lab2_7_seg_decoder
//

module lab2_7_seg_decoder (input [3:0]s, output [6:0]seg_c);
    
    
    (* lut_function="(!(A (B+!(C))+!A (B ((D)+!C)+!B !(C+(D)))))" *) LUT4 seg_c_4__I_0_4_lut (.A(s[1]), 
            .B(s[3]), .C(s[0]), .D(s[2]), .Z(seg_c[4]));
    defparam seg_c_4__I_0_4_lut.INIT = "0x3170";
    (* lut_function="(A (B (C (D)))+!A (B (D)+!B !((D)+!C)))" *) LUT4 seg_c_2__I_0_4_lut (.A(s[0]), 
            .B(s[3]), .C(s[1]), .D(s[2]), .Z(seg_c[2]));
    defparam seg_c_2__I_0_4_lut.INIT = "0xc410";
    (* lut_function="(A (B (D)+!B !((D)+!C))+!A (B (C)+!B (C (D))))" *) LUT4 seg_c_1__I_0_4_lut (.A(s[0]), 
            .B(s[3]), .C(s[2]), .D(s[1]), .Z(seg_c[1]));
    defparam seg_c_1__I_0_4_lut.INIT = "0xd860";
    (* lut_function="(A (B (D)+!B !(D))+!A !(B ((D)+!C)+!B (C+!(D))))" *) LUT4 n1794_bdd_4_lut_4_lut_4_lut (.A(s[0]), 
            .B(s[1]), .C(s[3]), .D(s[2]), .Z(seg_c[3]));
    defparam n1794_bdd_4_lut_4_lut_4_lut.INIT = "0x8962";
    (* lut_function="(!(A (B (C+!(D))+!B !(C (D)+!C !(D)))+!A ((C)+!B)))" *) LUT4 s_3__I_0_4_lut_4_lut (.A(s[0]), 
            .B(s[2]), .C(s[1]), .D(s[3]), .Z(seg_c[0]));
    defparam s_3__I_0_4_lut_4_lut.INIT = "0x2c06";
    (* lut_function="(!(A (B+!(C (D)))+!A (B+(D))))" *) LUT4 i608_4_lut_4_lut (.A(s[1]), 
            .B(s[3]), .C(s[0]), .D(s[2]), .Z(seg_c[6]));
    defparam i608_4_lut_4_lut.INIT = "0x2011";
    (* lut_function="(!(A (B (D)+!B (C+(D)))+!A !(B (C (D)+!C !(D))+!B (C (D)))))" *) LUT4 seg_c_5__I_0_4_lut_4_lut (.A(s[1]), 
            .B(s[0]), .C(s[2]), .D(s[3]), .Z(seg_c[5]));
    defparam seg_c_5__I_0_4_lut_4_lut.INIT = "0x508e";
    
endmodule

//
// Verilog Description of module lab2_scanning
//

module lab2_scanning (output [3:0]row_c, input nreset_c, input n225, input clk, 
            output n3);
    
    wire [31:0]counter;
    wire clk_new;
    (* is_clock=1 *) wire clk;
    
    wire n585, n1339, n582, n1338, n570, n1335, n4, n800, n10, 
        n1277, n572, n842, n1344, n840, n4_adj_89, n802, n1452, 
        n830, n810, n576, n1341;
    
    (* lut_function="(A (B))" *) LUT4 i1_2_lut (.A(counter[17]), .B(counter[16]), 
            .Z(n582));
    defparam i1_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut_adj_6 (.A(counter[20]), .B(counter[21]), 
            .Z(n1338));
    defparam i1_2_lut_adj_6.INIT = "0x8888";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut_adj_7 (.A(counter[14]), .B(counter[13]), 
            .Z(n585));
    defparam i1_2_lut_adj_7.INIT = "0xeeee";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut_adj_8 (.A(counter[11]), .B(counter[12]), 
            .Z(n1335));
    defparam i1_2_lut_adj_8.INIT = "0x8888";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i4_4_lut (.A(counter[25]), .B(counter[24]), 
            .C(counter[29]), .D(counter[27]), .Z(n10));
    defparam i4_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C)))" *) LUT4 i5_3_lut (.A(counter[28]), .B(n10), 
            .C(counter[26]), .Z(n572));
    defparam i5_3_lut.INIT = "0xfefe";
    (* lut_function="(!(A+((C)+!B)))" *) LUT4 i617_3_lut (.A(clk_new), .B(nreset_c), 
            .C(n842), .Z(row_c[3]));
    defparam i617_3_lut.INIT = "0x0404";
    (* lut_function="(A+(B+(C)))" *) LUT4 i2_3_lut (.A(n1344), .B(n840), 
            .C(counter[23]), .Z(n842));
    defparam i2_3_lut.INIT = "0xfefe";
    (* lut_function="(A (B (C+(D)))+!A (B (C)))" *) LUT4 i716_4_lut (.A(counter[20]), 
            .B(counter[22]), .C(counter[21]), .D(n4), .Z(n840));
    defparam i716_4_lut.INIT = "0xc8c0";
    (* lut_function="(A (B (C+(D)))+!A (B (C)))" *) LUT4 i1_4_lut (.A(n582), 
            .B(counter[19]), .C(counter[18]), .D(n4_adj_89), .Z(n4));
    defparam i1_4_lut.INIT = "0xc8c0";
    (* lut_function="(A (B)+!A (B (C+(D))))" *) LUT4 i1_4_lut_adj_9 (.A(n585), 
            .B(counter[15]), .C(n1277), .D(counter[12]), .Z(n4_adj_89));
    defparam i1_4_lut_adj_9.INIT = "0xccc8";
    (* lut_function="(A (B (C)+!B (C (D))))" *) LUT4 i2_4_lut (.A(counter[11]), 
            .B(n802), .C(counter[10]), .D(counter[9]), .Z(n1277));
    defparam i2_4_lut.INIT = "0xa080";
    (* lut_function="(A (B))" *) LUT4 i678_2_lut (.A(counter[7]), .B(counter[8]), 
            .Z(n802));
    defparam i678_2_lut.INIT = "0x8888";
    (* lut_function="(A (B+(C))+!A (B+(C (D))))" *) LUT4 i706_4_lut (.A(n1339), 
            .B(n1344), .C(counter[23]), .D(counter[22]), .Z(n830));
    defparam i706_4_lut.INIT = "0xfcec";
    (* lut_function="(A (B (C+(D)))+!A (B (C)))" *) LUT4 i1_4_lut_adj_10 (.A(n810), 
            .B(n1338), .C(counter[19]), .D(n576), .Z(n1339));
    defparam i1_4_lut_adj_10.INIT = "0xc8c0";
    (* lut_function="(A (B+(C))+!A (B+(C (D))))" *) LUT4 i686_4_lut (.A(n800), 
            .B(n570), .C(n1335), .D(counter[10]), .Z(n810));
    defparam i686_4_lut.INIT = "0xfcec";
    (* lut_function="(A (B))" *) LUT4 i676_2_lut (.A(counter[8]), .B(counter[9]), 
            .Z(n800));
    defparam i676_2_lut.INIT = "0x8888";
    (* lut_function="(!(A+((C+(D))+!B)))" *) LUT4 i1_4_lut_adj_11 (.A(n840), 
            .B(n1341), .C(n1452), .D(counter[30]), .Z(row_c[1]));
    defparam i1_4_lut_adj_11.INIT = "0x0004";
    (* lut_function="(A+(B+(C)))" *) LUT4 i1162_3_lut (.A(counter[31]), .B(counter[23]), 
            .C(n572), .Z(n1452));
    defparam i1162_3_lut.INIT = "0xfefe";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut_adj_12 (.A(clk_new), .B(nreset_c), 
            .Z(n1341));
    defparam i1_2_lut_adj_12.INIT = "0x8888";
    (* lut_function="(!(((C+!(D))+!B)+!A))" *) LUT4 i2_4_lut_4_lut (.A(clk_new), 
            .B(nreset_c), .C(n830), .D(n842), .Z(row_c[0]));
    defparam i2_4_lut_4_lut.INIT = "0x0800";
    (* lut_function="(!(A+(B+!(C (D)))))" *) LUT4 i1332_4_lut_4_lut (.A(clk_new), 
            .B(n830), .C(n842), .D(nreset_c), .Z(row_c[2]));
    defparam i1332_4_lut_4_lut.INIT = "0x1000";
    (* lut_function="(A+(B+(C)))" *) LUT4 i1_2_lut_3_lut (.A(counter[15]), 
            .B(counter[14]), .C(counter[13]), .Z(n570));
    defparam i1_2_lut_3_lut.INIT = "0xfefe";
    (* LSE_LINE_FILE_ID=30, LSE_LCOL=50, LSE_RCOL=151, LSE_LLINE=17, LSE_RLINE=17 *) lab2_counter lab2_counter_inst (counter[22], 
            n225, n576, clk_new, clk, n3, counter[8], counter[24], 
            counter[7], counter[27], counter[9], n1338, n570, n1335, 
            counter[10], counter[19], n1344, counter[23], counter[16], 
            counter[28], counter[25], counter[15], counter[26], counter[20], 
            counter[21], counter[17], counter[18], nreset_c, counter[13], 
            counter[14], counter[11], counter[12], counter[31], counter[29], 
            counter[30], n572);
    
endmodule

//
// Verilog Description of module lab2_counter
//

module lab2_counter (output \counter[22] , input n225, output n576, output clk_new, 
            input clk, output n3, output \counter[8] , output \counter[24] , 
            output \counter[7] , output \counter[27] , output \counter[9] , 
            input n1338, input n570, input n1335, output \counter[10] , 
            output \counter[19] , output n1344, output \counter[23] , 
            output \counter[16] , output \counter[28] , output \counter[25] , 
            output \counter[15] , output \counter[26] , output \counter[20] , 
            output \counter[21] , output \counter[17] , output \counter[18] , 
            input nreset_c, output \counter[13] , output \counter[14] , 
            output \counter[11] , output \counter[12] , output \counter[31] , 
            output \counter[29] , output \counter[30] , input n572);
    
    wire [31:0]counter;
    (* is_clock=1 *) wire clk;
    
    wire GND_net, VCC_net, n2167, n73;
    wire [31:0]n40;
    
    wire n4;
    wire [31:0]n167;
    
    wire n1047, n571, n2134, n2170, n14, n2155, n13, n1039, 
        n1053, n20, n1340, n2152, n1063, n1037, n2131, n1041, 
        n2137, n1065, n2113, n1061, n1059, n2164, n1051, n1057, 
        n2161, n1055, n2158, n1043, n2140, n1045, n1049, n2149, 
        n2146, n1067, n2143, n2176, n2173;
    
    (* LSE_LINE_FILE_ID=30, LSE_LCOL=50, LSE_RCOL=151, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count_state__i0 (.D(n40[0]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(counter[0]));
    defparam count_state__i0.REGSET = "RESET";
    defparam count_state__i0.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B (C (D))))" *) LUT4 i6_4_lut (.A(counter[2]), .B(counter[5]), 
            .C(counter[3]), .D(counter[1]), .Z(n14));
    defparam i6_4_lut.INIT = "0x8000";
    (* LSE_LINE_FILE_ID=30, LSE_LCOL=50, LSE_RCOL=151, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count_state__i1 (.D(n40[1]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(counter[1]));
    defparam count_state__i1.REGSET = "RESET";
    defparam count_state__i1.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B (C (D))))" *) LUT4 i5_4_lut (.A(counter[0]), .B(counter[6]), 
            .C(counter[4]), .D(\counter[7] ), .Z(n13));
    defparam i5_4_lut.INIT = "0x8000";
    (* lut_function="(A (B (C+(D)))+!A (B (C)))" *) LUT4 i138_4_lut (.A(n13), 
            .B(\counter[9] ), .C(\counter[8] ), .D(n14), .Z(n20));
    defparam i138_4_lut.INIT = "0xc8c0";
    (* lut_function="(A (B+(C))+!A (B+(C (D))))" *) LUT4 i1_4_lut (.A(n20), 
            .B(n570), .C(n1335), .D(\counter[10] ), .Z(n571));
    defparam i1_4_lut.INIT = "0xfcec";
    (* lut_function="(A (B (C+(D)))+!A (B (C)))" *) LUT4 i1_4_lut_adj_4 (.A(n571), 
            .B(n1338), .C(\counter[19] ), .D(n576), .Z(n1340));
    defparam i1_4_lut_adj_4.INIT = "0xc8c0";
    (* lut_function="(A (B+(C))+!A (B+(C (D))))" *) LUT4 i1_4_lut_adj_5 (.A(n1340), 
            .B(n1344), .C(\counter[23] ), .D(\counter[22] ), .Z(n4));
    defparam i1_4_lut_adj_5.INIT = "0xfcec";
    FA2 add_7_add_5_3 (.A0(GND_net), .B0(counter[1]), .C0(GND_net), .D0(n1037), 
        .CI0(n1037), .A1(GND_net), .B1(counter[2]), .C1(GND_net), .D1(n2131), 
        .CI1(n2131), .CO0(n2131), .CO1(n1039), .S0(n167[1]), .S1(n167[2]));
    defparam add_7_add_5_3.INIT0 = "0xc33c";
    defparam add_7_add_5_3.INIT1 = "0xc33c";
    (* lut_function="(!(A (B)+!A !(B)))" *) LUT4 i21_2_lut (.A(clk_new), .B(n4), 
            .Z(n73));
    defparam i21_2_lut.INIT = "0x6666";
    FA2 add_7_add_5_29 (.A0(GND_net), .B0(\counter[27] ), .C0(GND_net), 
        .D0(n1063), .CI0(n1063), .A1(GND_net), .B1(\counter[28] ), .C1(GND_net), 
        .D1(n2170), .CI1(n2170), .CO0(n2170), .CO1(n1065), .S0(n167[27]), 
        .S1(n167[28]));
    defparam add_7_add_5_29.INIT0 = "0xc33c";
    defparam add_7_add_5_29.INIT1 = "0xc33c";
    FA2 add_7_add_5_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), .A1(GND_net), 
        .B1(counter[0]), .C1(VCC_net), .D1(n2113), .CI1(n2113), .CO0(n2113), 
        .CO1(n1037), .S1(n167[0]));
    defparam add_7_add_5_1.INIT0 = "0xc33c";
    defparam add_7_add_5_1.INIT1 = "0xc33c";
    FA2 add_7_add_5_27 (.A0(GND_net), .B0(\counter[25] ), .C0(GND_net), 
        .D0(n1061), .CI0(n1061), .A1(GND_net), .B1(\counter[26] ), .C1(GND_net), 
        .D1(n2167), .CI1(n2167), .CO0(n2167), .CO1(n1063), .S0(n167[25]), 
        .S1(n167[26]));
    defparam add_7_add_5_27.INIT0 = "0xc33c";
    defparam add_7_add_5_27.INIT1 = "0xc33c";
    FA2 add_7_add_5_25 (.A0(GND_net), .B0(\counter[23] ), .C0(GND_net), 
        .D0(n1059), .CI0(n1059), .A1(GND_net), .B1(\counter[24] ), .C1(GND_net), 
        .D1(n2164), .CI1(n2164), .CO0(n2164), .CO1(n1061), .S0(n167[23]), 
        .S1(n167[24]));
    defparam add_7_add_5_25.INIT0 = "0xc33c";
    defparam add_7_add_5_25.INIT1 = "0xc33c";
    FA2 add_7_add_5_17 (.A0(GND_net), .B0(\counter[15] ), .C0(GND_net), 
        .D0(n1051), .CI0(n1051), .A1(GND_net), .B1(\counter[16] ), .C1(GND_net), 
        .D1(n2152), .CI1(n2152), .CO0(n2152), .CO1(n1053), .S0(n167[15]), 
        .S1(n167[16]));
    defparam add_7_add_5_17.INIT0 = "0xc33c";
    defparam add_7_add_5_17.INIT1 = "0xc33c";
    FA2 add_7_add_5_23 (.A0(GND_net), .B0(\counter[21] ), .C0(GND_net), 
        .D0(n1057), .CI0(n1057), .A1(GND_net), .B1(\counter[22] ), .C1(GND_net), 
        .D1(n2161), .CI1(n2161), .CO0(n2161), .CO1(n1059), .S0(n167[21]), 
        .S1(n167[22]));
    defparam add_7_add_5_23.INIT0 = "0xc33c";
    defparam add_7_add_5_23.INIT1 = "0xc33c";
    FA2 add_7_add_5_21 (.A0(GND_net), .B0(\counter[19] ), .C0(GND_net), 
        .D0(n1055), .CI0(n1055), .A1(GND_net), .B1(\counter[20] ), .C1(GND_net), 
        .D1(n2158), .CI1(n2158), .CO0(n2158), .CO1(n1057), .S0(n167[19]), 
        .S1(n167[20]));
    defparam add_7_add_5_21.INIT0 = "0xc33c";
    defparam add_7_add_5_21.INIT1 = "0xc33c";
    FA2 add_7_add_5_19 (.A0(GND_net), .B0(\counter[17] ), .C0(GND_net), 
        .D0(n1053), .CI0(n1053), .A1(GND_net), .B1(\counter[18] ), .C1(GND_net), 
        .D1(n2155), .CI1(n2155), .CO0(n2155), .CO1(n1055), .S0(n167[17]), 
        .S1(n167[18]));
    defparam add_7_add_5_19.INIT0 = "0xc33c";
    defparam add_7_add_5_19.INIT1 = "0xc33c";
    (* lut_function="(!(A))" *) LUT4 i5_1_lut (.A(nreset_c), .Z(n3));
    defparam i5_1_lut.INIT = "0x5555";
    FA2 add_7_add_5_9 (.A0(GND_net), .B0(\counter[7] ), .C0(GND_net), 
        .D0(n1043), .CI0(n1043), .A1(GND_net), .B1(\counter[8] ), .C1(GND_net), 
        .D1(n2140), .CI1(n2140), .CO0(n2140), .CO1(n1045), .S0(n167[7]), 
        .S1(n167[8]));
    defparam add_7_add_5_9.INIT0 = "0xc33c";
    defparam add_7_add_5_9.INIT1 = "0xc33c";
    FA2 add_7_add_5_15 (.A0(GND_net), .B0(\counter[13] ), .C0(GND_net), 
        .D0(n1049), .CI0(n1049), .A1(GND_net), .B1(\counter[14] ), .C1(GND_net), 
        .D1(n2149), .CI1(n2149), .CO0(n2149), .CO1(n1051), .S0(n167[13]), 
        .S1(n167[14]));
    defparam add_7_add_5_15.INIT0 = "0xc33c";
    defparam add_7_add_5_15.INIT1 = "0xc33c";
    FA2 add_7_add_5_13 (.A0(GND_net), .B0(\counter[11] ), .C0(GND_net), 
        .D0(n1047), .CI0(n1047), .A1(GND_net), .B1(\counter[12] ), .C1(GND_net), 
        .D1(n2146), .CI1(n2146), .CO0(n2146), .CO1(n1049), .S0(n167[11]), 
        .S1(n167[12]));
    defparam add_7_add_5_13.INIT0 = "0xc33c";
    defparam add_7_add_5_13.INIT1 = "0xc33c";
    (* lut_function="(!((B)+!A))" *) LUT4 i553_2_lut (.A(n167[0]), .B(n4), 
            .Z(n40[0]));
    defparam i553_2_lut.INIT = "0x2222";
    FA2 add_7_add_5_11 (.A0(GND_net), .B0(\counter[9] ), .C0(GND_net), 
        .D0(n1045), .CI0(n1045), .A1(GND_net), .B1(\counter[10] ), .C1(GND_net), 
        .D1(n2143), .CI1(n2143), .CO0(n2143), .CO1(n1047), .S0(n167[9]), 
        .S1(n167[10]));
    defparam add_7_add_5_11.INIT0 = "0xc33c";
    defparam add_7_add_5_11.INIT1 = "0xc33c";
    FA2 add_7_add_5_7 (.A0(GND_net), .B0(counter[5]), .C0(GND_net), .D0(n1041), 
        .CI0(n1041), .A1(GND_net), .B1(counter[6]), .C1(GND_net), .D1(n2137), 
        .CI1(n2137), .CO0(n2137), .CO1(n1043), .S0(n167[5]), .S1(n167[6]));
    defparam add_7_add_5_7.INIT0 = "0xc33c";
    defparam add_7_add_5_7.INIT1 = "0xc33c";
    FA2 add_7_add_5_33 (.A0(GND_net), .B0(\counter[31] ), .C0(GND_net), 
        .D0(n1067), .CI0(n1067), .A1(GND_net), .B1(GND_net), .C1(GND_net), 
        .D1(n2176), .CI1(n2176), .CO0(n2176), .S0(n167[31]));
    defparam add_7_add_5_33.INIT0 = "0xc33c";
    defparam add_7_add_5_33.INIT1 = "0xc33c";
    FA2 add_7_add_5_5 (.A0(GND_net), .B0(counter[3]), .C0(GND_net), .D0(n1039), 
        .CI0(n1039), .A1(GND_net), .B1(counter[4]), .C1(GND_net), .D1(n2134), 
        .CI1(n2134), .CO0(n2134), .CO1(n1041), .S0(n167[3]), .S1(n167[4]));
    defparam add_7_add_5_5.INIT0 = "0xc33c";
    defparam add_7_add_5_5.INIT1 = "0xc33c";
    (* LSE_LINE_FILE_ID=30, LSE_LCOL=50, LSE_RCOL=151, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count_state__i2 (.D(n40[2]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(counter[2]));
    defparam count_state__i2.REGSET = "RESET";
    defparam count_state__i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=30, LSE_LCOL=50, LSE_RCOL=151, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count_state__i3 (.D(n40[3]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(counter[3]));
    defparam count_state__i3.REGSET = "RESET";
    defparam count_state__i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=30, LSE_LCOL=50, LSE_RCOL=151, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count_state__i4 (.D(n40[4]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(counter[4]));
    defparam count_state__i4.REGSET = "RESET";
    defparam count_state__i4.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=30, LSE_LCOL=50, LSE_RCOL=151, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count_state__i5 (.D(n40[5]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(counter[5]));
    defparam count_state__i5.REGSET = "RESET";
    defparam count_state__i5.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=30, LSE_LCOL=50, LSE_RCOL=151, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count_state__i6 (.D(n40[6]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(counter[6]));
    defparam count_state__i6.REGSET = "RESET";
    defparam count_state__i6.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=30, LSE_LCOL=50, LSE_RCOL=151, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count_state__i7 (.D(n40[7]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(\counter[7] ));
    defparam count_state__i7.REGSET = "RESET";
    defparam count_state__i7.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=30, LSE_LCOL=50, LSE_RCOL=151, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count_state__i8 (.D(n40[8]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(\counter[8] ));
    defparam count_state__i8.REGSET = "RESET";
    defparam count_state__i8.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=30, LSE_LCOL=50, LSE_RCOL=151, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count_state__i9 (.D(n40[9]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(\counter[9] ));
    defparam count_state__i9.REGSET = "RESET";
    defparam count_state__i9.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=30, LSE_LCOL=50, LSE_RCOL=151, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count_state__i10 (.D(n40[10]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(\counter[10] ));
    defparam count_state__i10.REGSET = "RESET";
    defparam count_state__i10.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=30, LSE_LCOL=50, LSE_RCOL=151, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count_state__i11 (.D(n40[11]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(\counter[11] ));
    defparam count_state__i11.REGSET = "RESET";
    defparam count_state__i11.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=30, LSE_LCOL=50, LSE_RCOL=151, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count_state__i12 (.D(n40[12]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(\counter[12] ));
    defparam count_state__i12.REGSET = "RESET";
    defparam count_state__i12.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=30, LSE_LCOL=50, LSE_RCOL=151, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count_state__i13 (.D(n40[13]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(\counter[13] ));
    defparam count_state__i13.REGSET = "RESET";
    defparam count_state__i13.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=30, LSE_LCOL=50, LSE_RCOL=151, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count_state__i14 (.D(n40[14]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(\counter[14] ));
    defparam count_state__i14.REGSET = "RESET";
    defparam count_state__i14.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=30, LSE_LCOL=50, LSE_RCOL=151, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count_state__i15 (.D(n40[15]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(\counter[15] ));
    defparam count_state__i15.REGSET = "RESET";
    defparam count_state__i15.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=30, LSE_LCOL=50, LSE_RCOL=151, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count_state__i16 (.D(n40[16]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(\counter[16] ));
    defparam count_state__i16.REGSET = "RESET";
    defparam count_state__i16.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=30, LSE_LCOL=50, LSE_RCOL=151, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count_state__i17 (.D(n40[17]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(\counter[17] ));
    defparam count_state__i17.REGSET = "RESET";
    defparam count_state__i17.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=30, LSE_LCOL=50, LSE_RCOL=151, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count_state__i18 (.D(n40[18]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(\counter[18] ));
    defparam count_state__i18.REGSET = "RESET";
    defparam count_state__i18.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=30, LSE_LCOL=50, LSE_RCOL=151, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count_state__i19 (.D(n40[19]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(\counter[19] ));
    defparam count_state__i19.REGSET = "RESET";
    defparam count_state__i19.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=30, LSE_LCOL=50, LSE_RCOL=151, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count_state__i20 (.D(n40[20]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(\counter[20] ));
    defparam count_state__i20.REGSET = "RESET";
    defparam count_state__i20.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=30, LSE_LCOL=50, LSE_RCOL=151, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count_state__i21 (.D(n40[21]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(\counter[21] ));
    defparam count_state__i21.REGSET = "RESET";
    defparam count_state__i21.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=30, LSE_LCOL=50, LSE_RCOL=151, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count_state__i22 (.D(n40[22]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(\counter[22] ));
    defparam count_state__i22.REGSET = "RESET";
    defparam count_state__i22.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=30, LSE_LCOL=50, LSE_RCOL=151, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count_state__i23 (.D(n40[23]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(\counter[23] ));
    defparam count_state__i23.REGSET = "RESET";
    defparam count_state__i23.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=30, LSE_LCOL=50, LSE_RCOL=151, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count_state__i24 (.D(n40[24]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(\counter[24] ));
    defparam count_state__i24.REGSET = "RESET";
    defparam count_state__i24.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=30, LSE_LCOL=50, LSE_RCOL=151, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count_state__i25 (.D(n40[25]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(\counter[25] ));
    defparam count_state__i25.REGSET = "RESET";
    defparam count_state__i25.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=30, LSE_LCOL=50, LSE_RCOL=151, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count_state__i26 (.D(n40[26]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(\counter[26] ));
    defparam count_state__i26.REGSET = "RESET";
    defparam count_state__i26.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=30, LSE_LCOL=50, LSE_RCOL=151, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count_state__i27 (.D(n40[27]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(\counter[27] ));
    defparam count_state__i27.REGSET = "RESET";
    defparam count_state__i27.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=30, LSE_LCOL=50, LSE_RCOL=151, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count_state__i28 (.D(n40[28]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(\counter[28] ));
    defparam count_state__i28.REGSET = "RESET";
    defparam count_state__i28.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=30, LSE_LCOL=50, LSE_RCOL=151, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count_state__i29 (.D(n40[29]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(\counter[29] ));
    defparam count_state__i29.REGSET = "RESET";
    defparam count_state__i29.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=30, LSE_LCOL=50, LSE_RCOL=151, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count_state__i30 (.D(n40[30]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(\counter[30] ));
    defparam count_state__i30.REGSET = "RESET";
    defparam count_state__i30.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=30, LSE_LCOL=50, LSE_RCOL=151, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count_state__i31 (.D(n40[31]), 
            .SP(n225), .CK(clk), .SR(n3), .Q(\counter[31] ));
    defparam count_state__i31.REGSET = "RESET";
    defparam count_state__i31.SRMODE = "CE_OVER_LSR";
    VLO i1 (.Z(GND_net));
    FA2 add_7_add_5_31 (.A0(GND_net), .B0(\counter[29] ), .C0(GND_net), 
        .D0(n1065), .CI0(n1065), .A1(GND_net), .B1(\counter[30] ), .C1(GND_net), 
        .D1(n2173), .CI1(n2173), .CO0(n2173), .CO1(n1067), .S0(n167[29]), 
        .S1(n167[30]));
    defparam add_7_add_5_31.INIT0 = "0xc33c";
    defparam add_7_add_5_31.INIT1 = "0xc33c";
    (* lut_function="(A+(B+(C)))" *) LUT4 i2_3_lut (.A(\counter[31] ), .B(\counter[30] ), 
            .C(n572), .Z(n1344));
    defparam i2_3_lut.INIT = "0xfefe";
    (* lut_function="(!((B)+!A))" *) LUT4 i618_2_lut (.A(n167[1]), .B(n4), 
            .Z(n40[1]));
    defparam i618_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i619_2_lut (.A(n167[2]), .B(n4), 
            .Z(n40[2]));
    defparam i619_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i620_2_lut (.A(n167[3]), .B(n4), 
            .Z(n40[3]));
    defparam i620_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i621_2_lut (.A(n167[4]), .B(n4), 
            .Z(n40[4]));
    defparam i621_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i622_2_lut (.A(n167[5]), .B(n4), 
            .Z(n40[5]));
    defparam i622_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i623_2_lut (.A(n167[6]), .B(n4), 
            .Z(n40[6]));
    defparam i623_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i624_2_lut (.A(n167[7]), .B(n4), 
            .Z(n40[7]));
    defparam i624_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i625_2_lut (.A(n167[8]), .B(n4), 
            .Z(n40[8]));
    defparam i625_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i626_2_lut (.A(n167[9]), .B(n4), 
            .Z(n40[9]));
    defparam i626_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i627_2_lut (.A(n167[10]), .B(n4), 
            .Z(n40[10]));
    defparam i627_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i628_2_lut (.A(n167[11]), .B(n4), 
            .Z(n40[11]));
    defparam i628_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i629_2_lut (.A(n167[12]), .B(n4), 
            .Z(n40[12]));
    defparam i629_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i630_2_lut (.A(n167[13]), .B(n4), 
            .Z(n40[13]));
    defparam i630_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i631_2_lut (.A(n167[14]), .B(n4), 
            .Z(n40[14]));
    defparam i631_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i632_2_lut (.A(n167[15]), .B(n4), 
            .Z(n40[15]));
    defparam i632_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i633_2_lut (.A(n167[16]), .B(n4), 
            .Z(n40[16]));
    defparam i633_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i634_2_lut (.A(n167[17]), .B(n4), 
            .Z(n40[17]));
    defparam i634_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i635_2_lut (.A(n167[18]), .B(n4), 
            .Z(n40[18]));
    defparam i635_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i636_2_lut (.A(n167[19]), .B(n4), 
            .Z(n40[19]));
    defparam i636_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i637_2_lut (.A(n167[20]), .B(n4), 
            .Z(n40[20]));
    defparam i637_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i638_2_lut (.A(n167[21]), .B(n4), 
            .Z(n40[21]));
    defparam i638_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i639_2_lut (.A(n167[22]), .B(n4), 
            .Z(n40[22]));
    defparam i639_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i640_2_lut (.A(n167[23]), .B(n4), 
            .Z(n40[23]));
    defparam i640_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i641_2_lut (.A(n167[24]), .B(n4), 
            .Z(n40[24]));
    defparam i641_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i642_2_lut (.A(n167[25]), .B(n4), 
            .Z(n40[25]));
    defparam i642_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i643_2_lut (.A(n167[26]), .B(n4), 
            .Z(n40[26]));
    defparam i643_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i644_2_lut (.A(n167[27]), .B(n4), 
            .Z(n40[27]));
    defparam i644_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i645_2_lut (.A(n167[28]), .B(n4), 
            .Z(n40[28]));
    defparam i645_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i646_2_lut (.A(n167[29]), .B(n4), 
            .Z(n40[29]));
    defparam i646_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i647_2_lut (.A(n167[30]), .B(n4), 
            .Z(n40[30]));
    defparam i647_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i648_2_lut (.A(n167[31]), .B(n4), 
            .Z(n40[31]));
    defparam i648_2_lut.INIT = "0x2222";
    (* lut_function="(A (B (C)))" *) LUT4 i1_2_lut_3_lut (.A(\counter[18] ), 
            .B(\counter[17] ), .C(\counter[16] ), .Z(n576));
    defparam i1_2_lut_3_lut.INIT = "0x8080";
    VHI i2 (.Z(VCC_net));
    (* LSE_LINE_FILE_ID=30, LSE_LCOL=50, LSE_RCOL=151, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ clk_state (.D(n73), 
            .SP(n225), .CK(clk), .SR(n3), .Q(clk_new));
    defparam clk_state.REGSET = "RESET";
    defparam clk_state.SRMODE = "CE_OVER_LSR";
    
endmodule
